* {
    box-sizing: border-box;
    cursor: default;
}

html {
    font-size: 16px;
}

html,
body {
    min-height: 100vh;
    margin: 0;
}

::selection {
    background: black;
    color: white;
}

body {
    -webkit-font-smoothing: antialiased;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    padding: 1.5rem 0 0 2rem;
    background-image: linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%);
    font-weight: 400;
    line-height: 1.4;
    font-size: 1rem;
    color: black;
}

a {
    text-decoration: underline;
    color: black;
}

a[href]:hover {
    cursor: pointer;
    color: rgb(153, 152, 152);
}

h1,
.h1,
h4,
.h4 {
    font-weight: 400;
    margin-top: 0;
    color: black;
}

h1,
.h1 {
    font-size: 1.5rem;
}

h4,
.h4 {
    font-size: 1rem;
    margin: 0 0 .75rem;
}

p {
    margin: 0 0 2rem;
}

dd {
    margin: 0;
}

ul {
    padding: 0;
    margin: 0;
}

li {
    list-style-type: none;
    margin: 0 0 .25rem;
}

.shell {
    grid-template-columns: 24rem 15rem 15rem;
    grid-column-gap: 6rem;
    display: grid;
}

.widget {
    margin: 0 0 2.5rem;
}

@media only screen and (max-width: 1024px) {
    .shell {
        grid-template-columns: 24rem;
        grid-template-rows: auto;
        grid-column-gap: 0;
        grid-row-gap: 0;
    }
}

@media only screen and (max-width: 450px) {
    .shell {
        grid-template-columns: 100%;
        padding: 1.5rem 1.25rem 0;
        font-size: 1.0625rem;
    }
    h4,
    .h4 {
        font-size: 1.25rem;
    }
}
